<template>
  <div>
    <PostComponent
      v-for="post of posts"
      :key="posts.indexOf(post)"
      :post="post"
    />
  <div class="bottom-spacing"></div>
  </div>
</template>

<script>
import utils from "../../utils"
import CommonFunctions from "../utils/CommonFunctions.js"
import PostComponent from "../components/page-components/PostComponent.vue"
import {fetchRuneViewData} from "../../utils/commonFunctions"

export default {
  components: {
    PostComponent
  },
  data(){
    return {
      posts: []
    }
  },
  async asyncData({app, $services, $links}){
    console.log("AsyncData called")
    var i18n = app.i18n

    var {
      nonRuneTVL,
      nonRuneTVLTxt,
      totalCapital,
      totalCapitalTxt,
      nodeAPY,
      liquidAPY,
      totalEarnedTxt,
      circulatingSupplyTxt,
      runeLocked,
      MCCN
    } = await fetchRuneViewData($services)
    
    return {
          posts: [
            {
              thread: true,
              id: $links('scrollTo.rune')[0],
              header: {
                text: i18n.t("runePage.superPowerSection.beforeHeader").split('(ᚱ) ')[1],
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.superPowerSection.header') +" "+ i18n.t('runePage.superPowerSection.header2')]},
                {type: 'image', image: require("~/assets/images/rune-view/super-power-card.png")},
                {type:'text', text: i18n.t('runePage.superPowerSection.items').map(item => item.join(' '))}
            
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.deepSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.deepSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/deep-card.svg")},
                {type:'text', text: i18n.t('runePage.deepSection.text')}            
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.inheritValueSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.inheritValueSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/inherit-card.svg")},
                {type:'text', text: i18n.t('runePage.inheritValueSection.text')}  
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.nodesBondSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.nodesBondSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/1m-card.svg")},
                {type:'text', text: i18n.t('runePage.nodesBondSection.text')}  
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.secureAssetsSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.secureAssetsSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/safe-card.svg")},
                {type:'text', text: i18n.t('runePage.secureAssetsSection.text')}  
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.signalsListingSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.signalsListingSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/fair-card.svg")},
                {type:'text', text: i18n.t('runePage.signalsListingSection.text')}  
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.incentivizeSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.incentivizeSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/pays-card.svg")},
                {type:'text', text: i18n.t('runePage.incentivizeSection.text')}  
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.ampsSection.beforeHeader").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.ampsSection.header')]},
                {type: 'image', image: require("~/assets/images/rune-view/amps-card.svg")},
                {type:'text', text: i18n.t('runePage.ampsSection.text')}  
              ]
            },
            {
              thread: true,
              id: $links('scrollTo.rune')[1],
              header: {
                text: i18n.t("runePage.supplyEmittedBoxSection.header").join(' '),
                avatar: require("~/assets/images/rune-view/avatar-light-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.supplyEmittedBoxSection.text')]},
                {type: 'image', image: require("~/assets/images/rune-view/emission-card.svg")
                , link: $links('sheet_emissions'),
                linkHeader: i18n.t('runePage.supplyEmittedBoxSection.links[0]'),
                linkCaption: i18n.t('runePage.supplyEmittedBoxSection.linkCaption').replace('^NUMBER', totalEarnedTxt)},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.fixedpaymentButSir.header"),
                avatar: require("~/assets/images/rune-view/avatar-emit-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: i18n.t('runePage.fixedpaymentButSir.text')},
                {type: 'table-links', links: [
                  {text: i18n.t("runePage.fixedpaymentButSir.links[0]"), link: $links('docs_incentive_pendulum')},
                  {text: i18n.t("runePage.fixedpaymentButSir.links[1]"), link: $links('docs_emissions')},
                ]}
              ]
            },
            {
              thread: true,
              id: $links('scrollTo.rune')[2],
              header: {
                text: i18n.t("runePage.comunityBoxSection.mobileHeader"),
                avatar: require("~/assets/images/rune-view/avatar-light-rune.svg"),
              },
              layers: [
                {type:'text', text: [
                  i18n.t('runePage.comunityBoxSection.text[0]') + " " +
                  i18n.t('runePage.comunityBoxSection.text[1]'),
                  i18n.t('runePage.comunityBoxSection.text[2]')
                ]},
                {type: 'image', image: require("~/assets/images/rune-view/price-simulator-card.svg")
                , link: $links('thorchain_community'),
                linkHeader: i18n.t('runePage.comunityBoxSection.links[0]'),
                linkCaption: i18n.t('runePage.comunityBoxSection.linkCaption').replace('^NUMBER', runeLocked)},
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.deterministicRuneButSir.header"),
                avatar: require("~/assets/images/rune-view/avatar-emit-butsir.svg"),
                style: "color: #F3BA2F"
              },  
              layers: [
                {type:'text', text: [i18n.t('runePage.deterministicRuneButSir.mobileText[0]')]},
                {type:'text', text: i18n.t('runePage.deterministicRuneButSir.mobileText'), style:"margin-bottom:0"},
                {type: 'table', table:{
                  rows: [
                    {cols: [i18n.t("runePage.deterministicRuneButSir.links[0][0]"), {
                      content: ["$"+nonRuneTVLTxt + " SCCN", "$"+MCCN.nonRuneTVLTxt + " MCCN"],
                       style: 'text-align: right'}]},
                    {cols: [
                    {content: i18n.t("runePage.deterministicRuneButSir.links[1][0]"), style: 'width: 200%'},
                    {content: circulatingSupplyTxt, style: 'text-align: right; width: 50%'}]},
                  ]}
                }
              ]
            },
            {
              thread: true,
              id: $links('scrollTo.rune')[3],
              header: {
                text: i18n.t("runePage.mobileRuneMeCard.header"),
                avatar: require("~/assets/images/rune-view/avatar-light-rune.svg"),
              },
              layers: [
                {type:'text', text: [i18n.t('runePage.mobileRuneMeCard.text')]},
                {type: 'table', table: {
                  rows: await CommonFunctions.getCoingeckoTable($services, $links)
                }}
              ]
            },
            {
              thread: true,
              header: {
                text: i18n.t("runePage.thorchainProtocolButSir.header"),
                avatar: require("~/assets/images/rune-view/avatar-emit-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: i18n.t('runePage.thorchainProtocolButSir.text')},
                {type: 'table-links', links: [
                  {text: i18n.t("runePage.thorchainProtocolButSir.links[0]"), disable: true, tag: 'soon'},
                  {text: i18n.t("runePage.thorchainProtocolButSir.links[1]"), link: $links('docs_transaction_memos')},
                  {text: i18n.t("runePage.thorchainProtocolButSir.links[2]"), link: $links('twitter_integrating')},
                ]}
              ]
            },
            {
              thread: true,
              id: $links('scrollTo.rune')[4],
              header: {
                text: i18n.t("runePage.apyPool.header"),
                avatar: require("~/assets/images/rune-view/avatar-pool.svg"),
              },
              layers: [
                { type: "text", text: [i18n.t("runePage.apyPool.mobileText")]},
                {
                  type: "text-card",
                  content: [
                    { text: liquidAPY },
                    { text: "% APY", style: "font-size: 2.5rem; position:relative", nextLine:true, 
                    tag: "SCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },                
                    { text: MCCN.liquidAPY },
                    { text: "% APY", style: "font-size: 2.5rem; position:relative", 
                    tag: "MCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },                
                  ],
                  style: `
                  background-color: #23DCC8;
                  font-family: "Exo 2";
                  font-style: italic;
                  font-weight: 800;
                  font-size: 4.5rem;
                  line-height: 3.8rem;
                  letter-spacing: -0.0625rem ; 
                  color: #000B12;
                  `,
                    link: $links('medium_liquidity_pooling'),
                    linkHeader: i18n.t("runePage.apyPool.textBtn"),
                    linkCaption: i18n.t("runePage.apyPool.mobileCaption"),
                  },
                ],
              },
              {
              thread: true,
              header: {
                text: i18n.t("runePage.apyNode.header"),
                avatar: require("~/assets/images/rune-view/avatar-node.svg"),
              },
              layers: [
                { type: "text", text: [i18n.t("runePage.apyPool.mobileText")]},
                {
                  type: "text-card",
                  content: [
                    { text: nodeAPY },
                { text: "% APY", style: "font-size: 2.5rem; position:relative", nextLine:true, 
                tag: "SCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },                
                { text: MCCN.nodeAPY },
                { text: "% APY", style: "font-size: 2.5rem; position:relative", 
                tag: "MCCN", tagStyle:"font-size: 1.25rem;position: absolute; right: -0.3rem; margin-top: -0.7rem;" },         
                  ],
                  style: `
                  background-color: #32CD32;
                  font-family: "Exo 2";
                  font-style: italic;
                  font-weight: 800;
                font-size: 4.5rem;
                line-height: 3.8rem;
                  letter-spacing: -0.0625rem ; 
                  color: #000B12;
                  `,
                    link: $links('docs_node_operations'),
                    linkHeader: i18n.t("runePage.apyNode.textBtn"),
                    linkCaption: i18n.t("runePage.apyNode.mobileLinkCaption"),
                  },
                ],
              },
              {
              thread: false,
              header: {
                text: i18n.t("runePage.hodlButSir.header"),
                avatar: require("~/assets/images/rune-view/avatar-hold-butsir.svg"),
                style: "color: #F3BA2F"
              },
              layers: [
                {type:'text', text: i18n.t('runePage.hodlButSir.text')},
                {type: 'table-links', links: [
                  {text: i18n.t("runePage.hodlButSir.links[0]"), link: {localLink: true, link: "/rune#what-influences-it"}},
                  {text: i18n.t("runePage.hodlButSir.links[1]"), link: $links('medium_liquidity_pooling'), tag: 'UPDATE IN V3.0'},
                ]}
              ]
            },
          ]
    }
  }
}
</script>
<style>
.bottom-spacing{
  height: 5rem;
}
</style>