$outer-margin: 10.3125rem ;
$section-top-margin: 0.9375rem ;

.anchor-point {
  display: block;
  margin-top: -12.5rem ;
  height: 12.5rem ;
  visibility: hidden;
  pointer-events: none;
}

.menu-sized-container {
  .rune-section-spacing {
    height: 7.5rem ;
  }
  .super-power-section {
    // background-image: url("~assets/images/rune-page/rune-5-super-powers-background.png");
    background-size: contain;
    height: 47.6875rem ;
    background-repeat: no-repeat;
  }
  .rune-page-section-right {
    img {
      margin-left: 2.625rem ;
    }
    .rune-page-section-text {
      width: 30rem ;
      margin-top: $section-top-margin;
      // border:1px solid blue;
      margin-left: auto;
      margin-right: $outer-margin;
    }
  }
  .rune-page-section-left {
    .col:first-child {
      z-index: 1;
    }
    img {
      // margin-left: -1*$outer-margin;
      margin-left: 0.625rem ;
      z-index: -1;
    }
    .rune-page-section-text {
      width: 30rem ;
      margin-top: $section-top-margin;
      // border:1px solid blue;
      margin-left: $outer-margin;
    }
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  margin-left: -5.125rem ;
}

.strips-container {
  margin-top: 15.5625rem ;
  margin-bottom: 4.375rem ;
  position: relative;
  left: 3.5625rem ;
  // width: 2.6875rem ;

  .community-pros {
    position: sticky;
    top: 12.5rem ;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .avatar-pro {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.625rem 0;
      width: 2.6875rem ;
      height: 2.6875rem ;
      border-radius: 50%;
      background: -webkit-linear-gradient(45deg, $blueBackground, $blueGreen);
      box-shadow: #00CCFF 0px 0px 15px -3px, #33ff99 0px 0px 6px -2px;

      .avatar-img {
        cursor: pointer;
        width: 2.6875rem ;
        height: 2.6875rem ;
        padding: 0.1875rem ;
        border-radius: 50%;
      }

      .tag-shape {
        position: absolute;
        height: 3.75rem ;
        width: 2.125rem ;
        left: -1.875rem ;
      }

      &.active {
        background: #F3BA2F;
        box-shadow: none;

        .content {
          display: flex;
        }
      }

      .content {
        display: none;
        position: absolute;
        width: 19.1875rem ;
        height: 3.75rem ;
        left: 5rem ;
        justify-content: space-between;
        align-items: center;
        background: #000B12;
        padding: 0rem 1.9375rem 0rem 0.3125rem ;
        border-radius: 0.75rem;
        border: 2.3px solid #F3BA2F;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        span {
          color: #F3BA2F;
        }

        .icons {
          display: flex;
          align-items: center;

          a {
            display: inline-block;
            width: 1.125rem ;
            height: 1.125rem ;
            margin: 0rem 0.125rem ;
            background-repeat: no-repeat;
            margin-top: 0.375rem ;
            
            &.telegram-icon{
              background-image: url('~assets/images/icons/social-telegram-icon.svg');

              &:hover {
                  background-image: url('~assets/images/icons/social-telegram-icon-hover-yellow.svg');
              }
            }
            &.github-icon{
                background-image: url('~assets/images/icons/social-github-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-github-icon-hover-yellow.svg');
                }
            }
            &.gitlab-icon{
                background-image: url('~assets/images/icons/social-gitlab-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-gitlab-icon-hover-yellow.svg');
                }
            }
            &.twitter-icon{
                background-image: url('~assets/images/icons/social-twitter-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-twitter-icon-hover-yellow.svg');
                }
            }
          }
        }

        // &::before {
          // display: block;
          // content: "";
          // position: absolute;
          // background-image: url(~assets/images/technical-page/tag-shape2.svg);
          // left: -1.6875rem ;
          // background-repeat: no-repeat;
          // width: 1.75rem ;
          // height: 3.75rem ;
        // }
      }
      
    }
  }
}

.outer-container {
  position: relative;
}

.annu-box {
  position: relative;
  overflow: hidden;
  margin: 0rem auto;
  border-radius: 1.5rem;
  clip-path: inset(0 0 0 0 round 25px) !important;
  mask-image: radial-gradient(circle, white 100%, black 100%);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  padding: 3.1875rem 0rem 3.1875rem 3.75rem ;

  .annu-btn {
    display: inline-block;
    border: none;
    background-color: #23dcc8;
    border-radius: 0.75rem;
    color: $semiBlack;
    padding: 1.125rem 1.875rem ;
    font-weight: 600;
    font-size: 1.3125rem ;
    text-decoration: none;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $semiBlack;
    }
  }
}

.supply {
  background-color: $borderColor;
  color: #fff;
  background-image: url(~assets/images/rune-page/coin-background.svg);
  background-size: 44rem;
  background-repeat: no-repeat;
  background-position: right center;
  height: 21.75rem ;

  h2 {
    width: 40.625rem ;
    font-family: "Exo 2";
    font-size: 3.625rem ;
    font-weight: 800;
  }

  .supply-text {
    width: 35.625rem ;
    margin-top: 0.9375rem ;

    p {
      font-size: 1.375rem ;
      font-family: "Roboto";
      line-height: 1.6;
      font-weight: 500;
      margin: 0;
    }
  }

  .annu-lower {
    .annu-btn {
      font-size: 1.4375rem ;
      padding: 0.9375rem 1.875rem ;
      margin-top: 0.5rem ;
      margin-bottom: 1.9375rem ;
      text-decoration: none;
    }

    .earnings {
      color: #23dcc8;
      font-size: 1.5rem ;
      line-height: 2rem ;
      margin-left: 1.8125rem ;
    }
  }
}

.thorchain-community {
  background-color: $borderColor;
  color: $white;
  height: 27.3125rem ;
  background-image: url(~assets/images/rune-page/tvl-graphic.svg);
  background-size: 38rem;
  background-repeat: no-repeat;
  background-position: left bottom;
  img{
    width: 23.75rem;
  }
  h2 {
    font-family: "Exo 2";
    font-size: 3.625rem ;
    font-weight: 800;
  }

  h3 {
    font-family: "Exo 2";
    font-size: 3rem ;
    font-weight: 800;
  }

  .thorchain-community-text {
    width: 41.875rem ;
    margin-top: 1.5625rem ;

    p {
      font-size: 1.5rem ;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 1.875rem ;
    }
  }

  .annu-lower {
    margin-top: 1.875rem ;
    .locked {
      line-height: 1.875rem ;
      font-size: 1.5rem ;
      color: #23dcc8;
      margin-left: 1.875rem ;
    }
  }
}

.butsir {
  background-color: $butSirBackground;
  color: $semiBlack;
  max-width: 69.4375rem ;
  border-radius: 1.5rem;
  .butsir-content {
    padding: 1.4375rem 1.875rem 1.875rem 1.875rem ;

    .butsir-header h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem ;
      line-height: 2.375rem ;
      letter-spacing: -0.32px;
      margin: 0;
    }
    .butsir-text {
      margin-top: 1.25rem ;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.375rem ;
      line-height: 1.6875rem ;
    }
    .butsir-links {
      margin-top: 1.5625rem ;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem ;
      line-height: 1.5rem ;
      .learn-more {
        font-weight: bold;
      }
      .butsir-link {
        display: inline-block;
        position: relative;
        padding: 0.5rem 1.25rem ;
        background-color: $semiBlack;
        border-radius: 0.375rem;
        box-shadow: 0px 1px black;
        color: white;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem ;
        line-height: 1.5rem ;
        margin-left: 0.625rem ;
        text-decoration: none;
        transition: all 0.2s;
        .icon {
          width: 0.9375rem ;
          display: inline;
        }
        .hover {
          width: 0.9375rem ;
          display: none;
        }
        &:hover {
          .hover {
            transition: all 0.2s;
            display: inline;
          }
          .icon {
            transition: all 0.2s;
            display: none;
          }
        }
        &:hover {
          color: $semiBlack;
          background-color: $white;
          box-shadow: 0px 1px $white;
        }
        &.disabled {
          color: $semiGray;
          cursor: default;
          &:hover {
            color: $semiGray;
            background-color: $semiBlack;
            box-shadow: 0px 1px black;
          }
        }
        .soon {
          position: absolute;
          font-weight: 300;
          font-size: 0.6em;
          right: 1.25rem ;
          top: -0.1875rem ;
          color: $butSirBackground;
        }
      }
      .live-metrics {
        .butsir-link {
          background-color: rgba(#000, 0.1);
          box-shadow: none;
          color: $semiBlack;

          span {
            font-family: "Roboto Mono";
            color: $white;
          }
        }
      }
    }
  }
  .butsir-content-rtl {
    text-align: right;
  }
}

.apy-graph {
  width: 33.75rem ;
  background-color: #000b12;
  border: 2px solid #15242e;
  padding: 3.375rem 0rem 4rem 0;
  border-radius: 1.5rem;
  text-align: center;

  h2,
  .apy,
  h4 {
    font-family: "Exo 2";
    font-style: italic;
    font-weight: 800;
    font-size: 3rem ;
    text-transform: uppercase;
  }

  .apy{
    font-size: 3.875rem;
    line-height: 2.9375rem;
    color: white;
    margin-top: 0.8rem;
    margin-bottom: 1.3rem;
    span{
      font-size: 2.0625rem ;
    }
  }

  h2 {
    font-weight: 800;
  }

  h4 {
    font-family: "Roboto";
    font-size: 1.375rem ;
    font-weight: normal;
    margin-bottom: 0;
    letter-spacing: 0.3px;
  }

  p {
    font-size: 0.8125rem ;
    font-weight: 400;
  }

  a {
    color: initial;
    text-decoration: none;
    display: inline-block;
  }

  .gradient-color {
    background: -webkit-linear-gradient(left, $blueBackground, $blueGreen);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .green-color {
    color: $green;
  }

  .sub-header {
    font-size: 1.5rem ;
    text-transform: uppercase;
    font-style: italic;
  }

  .gradient-btn {
    background-image: linear-gradient(
      to right,
      $blueBackground 0%,
      $blueGreen 51%
    );
    border: none;
    font-size: 1.4375rem ;
    padding: 0.9375rem 1.875rem ;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 0.625rem;
  }

  .green-btn {
    background-color: $green;
    border: none;
    font-size: 1.4375rem ;
    padding: 0.9375rem 1.875rem ;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 0.625rem;
  }

  .gradient-btn:hover {
    background-position: right center;
  }
}
