<template>
  <div class="community-pros">
      <span class="new-tag">NEW!</span>
      <div class="avatar-pro" v-for="(avatar, i) in avatars" :key="i" :class="{'active': avatar.active}">
          <img class="avatar-img" :src="avatar.img" :alt="avatar.name" @click="showThisAvatar(i)">
          <div class="content" :class="{'thorchain': avatar.thorchain}">
              <img class="tag-shape" src="~/assets/images/technical-page/tag-shape2.svg">
              <span>{{avatar.tag}}</span>
              <div class="icons" v-if="!avatar.thorchain">
                  <ext-link class="telegram-icon" :linkProps="avatar.socialLinks.telegram" v-if="avatar.socialLinks.telegram"></ext-link>
                  <ext-link class="github-icon" :linkProps="avatar.socialLinks.github" v-if="avatar.socialLinks.github"></ext-link>
                  <ext-link class="gitlab-icon" :linkProps="avatar.socialLinks.gitlab" v-if="avatar.socialLinks.gitlab"></ext-link>
                  <ext-link class="twitter-icon" :linkProps="avatar.socialLinks.twitter" v-if="avatar.socialLinks.twitter"></ext-link>
              </div>
          </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["avatars"],
    methods: {
        showThisAvatar(i) {
            this.avatars.forEach((ava, index) => {
                if (index == i) {
                    if (ava.active) {
                        ava.active = false
                        return
                    }
                    ava.active = true
                }
                else
                    ava.active = false
            })
        }
    }
}
</script>

<style lang="scss">
.community-pros {
    position: sticky;
    top: 12.5rem ;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .new-tag {
      position: relative;
      top: 0.625rem ;
      color: #F3BA2F;
      font-weight: 700;
      text-align: center;
      font-size: 0.5625rem ;
      line-height: 1.5rem ;
    }

    .avatar-pro {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.625rem 0;
      width: 2.6875rem ;
      height: 2.6875rem ;
      border-radius: 50%;
      background: -webkit-linear-gradient(45deg, $blueBackground, $blueGreen);
      box-shadow: #00CCFF 0px 0px 15px -3px, #33ff99 0px 0px 6px -2px;

      .avatar-img {
        cursor: pointer;
        width: 2.6875rem ;
        height: 2.6875rem ;
        padding: 0.1875rem ;
        border-radius: 50%;
      }

      &:hover {
        background: #F3BA2F;
        box-shadow: none;
      }

      &.active {
        background: #F3BA2F;
        box-shadow: none;

        .content {
          display: flex;
        }
      }

      .content {
        display: none;
        position: absolute;
        // width: 19.1875rem ;
        height: 3.75rem ;
        left: 5.25rem ;
        justify-content: space-between;
        align-items: center;
        background: #000B12;
        padding: 0rem 1.9375rem 0rem 0.3125rem ;
        border-radius: 12px;
        border: 2.3px solid #F3BA2F;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &.thorchain {
          span {
            width: 13rem ;
            margin-right: 0;
          }
        }

        .tag-shape {
          position: absolute;
          height: 3.75rem ;
          width: 2.125rem ;
          left: -1.875rem ;
        }

        span {
          color: #F3BA2F;
          margin-right: 1.875rem ;
        }

        .icons {
          display: flex;
          align-items: center;

          a {
            display: inline-block;
            width: 1.125rem ;
            height: 1.125rem ;
            margin: 0rem 0.125rem ;
            background-repeat: no-repeat;
            margin-top: 0.375rem ;
            
            &.telegram-icon{
              background-image: url('~assets/images/icons/social-telegram-icon.svg');

              &:hover {
                  background-image: url('~assets/images/icons/social-telegram-icon-hover-yellow.svg');
              }
            }
            &.github-icon{
                background-image: url('~assets/images/icons/social-github-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-github-icon-hover-yellow.svg');
                }
            }
            &.gitlab-icon{
                background-image: url('~assets/images/icons/social-gitlab-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-gitlab-icon-hover-yellow.svg');
                }
            }
            &.twitter-icon{
                background-image: url('~assets/images/icons/social-twitter-icon.svg');

                &:hover {
                    background-image: url('~assets/images/icons/social-twitter-icon-hover-yellow.svg');
                }
            }
          }
        }

        // &::before {
          // display: block;
          // content: "";
          // position: absolute;
          // background-image: url(~assets/images/technical-page/tag-shape2.svg);
          // left: -1.6875rem ;
          // background-repeat: no-repeat;
          // width: 1.75rem ;
          // height: 3.75rem ;
        // }
      }
      
    }
  }
</style>