<template>
  <header :class="{'home-header': isHomePage}">
    <div class="header-container">
      <!-- <div class="intro-video-container">
        <div @click="$store.commit('showYoutubeOverlay', true)">New! Thorchain Explainer Video</div>
      </div> -->
      <!-- <div class="intro-video-container">
        <ext-link :linkProps="$links('nav_shapeshift_mobile_app')" target="_blank">NEW! RUNE (ERC20) NOW AVAILABLE ON SHAPESHIFT MOBILE APP! DOWNLOAD THE APP NOW!</ext-link>
      </div> -->
      <div class="intro-video-container">
        <ext-link 
        style="color: #02121D; background-color: #F3BA2F"
        :linkProps="$links('grassrootscrypto_quick_guide_to_mccn')"  target="_blank">A QUICK GUIDE TO MCCN</ext-link>
      </div>
      <div class="header">
        <div class="logo">
          <NuxtLink :to="localePath('/')">
            <img src="~/assets/images/thorchain/logo-website-v0.2.svg" alt="Thorchain" />
            <!-- <img src="~/assets/images/thorchain/thorchain_shapeshift.svg" alt="Thorchain-shape-shift" /> -->
            <!-- <img src="~/assets/images/thorchain/thorchain-logo-aprils-fools.svg" alt="Thorchain-shape-shift" /> -->

          </NuxtLink>
        </div>
        <BaseNav />
      </div>
      <BaseMenuNav />
    </div>
  </header>
</template>

<script>
import ExtLink from '../page-components/ExtLink.vue';
export default {
  data() {
    return {
 
      hover: this.$route.path,
      isHomePage: this.$route.path == "/"
    }
  },
  methods: {
    changeHoverNav(value) {
      this.hover = value;
    }
  },
  watch:{
    $route(to, from) {
      console.log("route changed")
      this.isHomePage= this.$route.path == "/"
    }
  }
}
</script>

<style lang="scss" scoped>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 0.0625rem solid #15242E;
  }
  .home-header{
    border: none;
    position: static;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000B12;
  }

  .header-container {
    background-color: #000B12;
  }

  .logo {
    margin: 0.2rem 0.9rem 0.4rem 0;
    img{
      width: 12.3125rem;
    }
  }
  .intro-video-container{
    div{
      height: 1rem;
      display: block;
      background-color: #f3ba2f;
      text-align: center;
      text-decoration: none;
      color: #02121D;
      font-family: Roboto;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.69rem;
      padding-top: 0.06rem;
      cursor: pointer;
    }

    a{
      height: 1rem ;
      display: block;
      background-color:#386FF9;
      text-align: center;
      text-decoration: none;
      color: #FFFFFF;
      font-family: Roboto;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.6875rem ;
      padding-top: 0.0625rem ;
      cursor: pointer;
    }
  }
</style>