<template>
  <nav class="navbar navbar-expand-lg">
    <div class="" id="navbarNav" ref="navCollapse">
      <ul class="navbar-nav d-lg-flex">
        <li
          v-for="navItem in navItems"
          :key="navItem.name"
          class="nav-item first"
        >
          <ext-link
            v-if="navItem.external"
            :class="{
              'nav-link': true,
              children: navItem.hasChildren,
              disable: navItem.soon,
              active: isRouteActive(navItem.link),
            }"
            :linkProps="navItem.link"
          >
            <span v-if="navItem.soon" class="soon">SOON</span>
            

            {{ navItem.name }}
            <CaretDown v-if="navItem.hasChildren" class="svg-children" />
          </ext-link>
          <nuxt-link
            v-else
            :class="{
              'nav-link': true,
              children: navItem.hasChildren,
              disable: navItem.soon,
              active: isRouteActive(navItem.link),
            }"
            :to="navItem.link"
          >
          <span v-if="navItem.name == 'Decentralized'" class="soon">UPDATE IN V0.3</span>
            <span v-if="navItem.soon && !(navItem.name == 'Decentralized')" class="soon">SOON</span>
            {{ navItem.name }}
            <CaretDown v-if="navItem.hasChildren" class="svg-children" />
          </nuxt-link>
        </li>
        <li class="nav-item liquidity">
          <ext-link :linkProps="$links('nav_discord_lp_university')">
            <div class="liquidity-container">
              <button class="liquidity-btn">Learn Pooling</button>
              <img
                class="btn-icon-provide"
                src="~/assets/images/icons/provide-liquidity-symbol.svg"
                alt="icon-provide"
              />
            </div>
          </ext-link>
          <!-- --------------------------------------- -->
          <!-- --------------------------------------- -->
          <!-- Social and block height counter -->
          <!-- --------------------------------------- -->
          <!-- --------------------------------------- -->
        </li>
        <li>
          <div class="nav-social-container">
            <div class="nav-social">
              <ext-link class="social-item" :linkProps="$links('nav_telegram_community')"
                ><img
                  class="icon-pic"
                  alt="telegram-link"
                  src="~/assets/images/icons/social-telegram-icon.svg" /><img
                  class="hover-pic"
                  alt="telegram-link-hover"
                  src="~/assets/images/icons/social-telegram-icon-hover.svg"
              /></ext-link>
              <ext-link class="social-item" :linkProps="$links('nav_gitlab')"
                ><img
                  class="icon-pic"
                  alt="gitlab-link"
                  src="~/assets/images/icons/social-gitlab-icon.svg" /><img
                  class="hover-pic"
                  alt="telegram-link-hover"
                  src="~/assets/images/icons/social-gitlab-icon-hover.svg"
              /></ext-link>
              <ext-link class="social-item" :linkProps="$links('nav_twitter')"
                ><img
                  class="icon-pic"
                  alt="twitter-link"
                  src="~/assets/images/icons/social-twitter-icon.svg" /><img
                  class="hover-pic"
                  alt="telegram-link-hover"
                  src="~/assets/images/icons/social-twitter-icon-hover.svg"
              /></ext-link>
            </div>
            <div class="nav-rune-container">
              <ext-link class="no-style" :linkProps="$links('nav_viewblock')">
                <div
                  class="nav-rune"
                  :class="{ 'nav-rune-new-block': newBlock }"
                >
                  <div class="nav-rune-logo">
                    <img
                      src="~/assets/images/icons/nav-block-height-rune-symbol.svg"
                      alt=""
                    />
                  </div>
                  <div
                    class="nav-rune-number"
                    :class="{ 'nav-rune-number-new-block': newBlock }"
                  >
                    {{ blockHight }}
                  </div>
                </div>
              </ext-link>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav d-flex d-none">
        <li class="nav-item liquidity">
          <div>
            <div class="liquidity-container">
              <button class="liquidity-btn">Provide Liquidity</button>
              <img
                class="btn-icon-provide"
                src="~/assets/images/icons/provide-liquidity-symbol.svg"
                alt="icon-provide"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
    <button
      class="navbar-toggler d-none"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      v-on:click="toggleNav"
      ref="toggle"
    >
      <img src="~/assets/images/icons/menu-toggle.svg" alt="Toggle" />
    </button>
  </nav>
</template>


<script>
import utils from "~/utils";
import CaretDown from "~/assets/images/icons/arrows-chevron-down.svg?inline";
import ExtLink from '../page-components/ExtLink.vue';
export default {
  components: { CaretDown, ExtLink },
  data() {
    return {
      showTempPLUrl: true,
      navItems: [
        {
          name: this.$t("navBar.technology"),
          link: this.localePath(this.$links("navBar.technology")),
          hasChildren: false,
          soon: false,
          active: this.$route.path === this.$links("navBar.technology"),
        },
        {
          name: this.$t("navBar.economy"),
          link: this.localePath(this.$links("navBar.technology")),
          hasChildren: false,
          soon: true,
          active: this.$route.path === this.$links("navBar.technology"),
        },
        {
          name: this.$t("navBar.rune"),
          link: this.localePath(this.$links("navBar.rune")),
          hasChildren: false,
          soon: false,
          active: this.$route.path === this.$links("navBar.rune"),
        },
        {
          name: this.$t("navBar.decentralized"),
          link: this.localePath(this.$links("navBar.decentralized")),
          hasChildren: false,
          soon: true,
          active: this.$route.path === this.$links("navBar.decentralized"),
        },
        {
          name: this.$t("navBar.roles"),
          link: this.localePath(this.$links("navBar.roles")),
          hasChildren: false,
          soon: true,
          active: this.$route.path === this.$links("navBar.roles"),
        },
        {
          name: this.$t("navBar.bepswap"),
          link: this.$links("nav_bepswap"),
          hasChildren: false,
          soon: false,
          active: false,
          external: true,
        },
        {
          name: this.$t("navBar.community"),
          link: this.localePath(this.$links("navBar.community")),
          hasChildren: false,
          soon: true,
          active: this.$route.path === this.$links("navBar.community"),
        },
        {
          name: this.$t("navBar.docs"),
          link: this.$links("nav_docs"),
          hasChildren: false,
          soon: false,
          active: false,
          external: true,
        },
        {
          name: this.$t("navBar.blog"),
          link: this.$links("nav_blog"),
          hasChildren: false,
          soon: false,
          active: false,
          external: true,
        },
      ],
      blockHight: "CONNECTING",
      newBlock: false,
    };
  },
  mounted() {
    console.log("Version v0.10 -")
    this.showTempPLUrl = process.env.isProduction
    setInterval(() => {
      this.$fetch();
    }, 5000);
  },
  methods: {
    toggleNav() {
      this.$refs.toggle.closest("body").classList.toggle("overflow");
      this.$refs.navCollapse.classList.toggle("collapse");
    },
    isRouteActive(route) {
      return this.$route.path === route;
    },
  },
  async fetch() {
    var blockHeight = await this.$services.getLastBlock()
    if (!blockHeight) return;
    
    var blockHightWithCommas = utils.numberWithCommas(blockHeight);
    if (this.blockHight === null) {
      this.blockHight = blockHightWithCommas;
    } else if (this.blockHight != blockHightWithCommas) {
      this.newBlock = true;
      this.blockHight = blockHightWithCommas;
      var self = this;
      setTimeout(() => {
        self.newBlock = false;
      }, 1000);
    }
  },
};
</script>


<style lang="scss" scoped>
nav.navbar {
  justify-content: space-around;
  height: 5.44rem;
  margin-left: 1.25rem;
  text-decoration: none;
  .navbar-nav {
    flex-direction: row;
  }

  .nav-item {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.937rem;
    line-height: 1.5rem;
    .nav-link {
      position: relative;
      padding: 1.25rem;
      color: #eceded;
      .soon {
        position: absolute;
        font-weight: 300;
        font-size: 0.6em;
        top: 0.375rem;
        right: 1.25rem;
        color: #f3ba2f;
      }
      .svg-children {
        position: absolute;
        height: 0.5rem;
        width: 0.5rem;
        top: calc(50% - 2px);
        right: 0.312rem;
        fill: #fff;
      }
      &.active {
        color: #20cab8;

        .svg-children {
          fill: #20cab8;
        }
      }
      &:hover {
        color: #20cab8;
        transition: 2ms;
      }
      &.disable {
        color: #1b2a34;
        cursor: grab;
        pointer-events: none;
        .svg-children {
          fill: #4b5261 !important;
        }
      }
      &.children:hover .svg-children {
        fill: #20cab8;
        transition: 2ms;
      }
    }
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
  }
  .liquidity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;
    font-family: Roboto;

    .liquidity-container {
      display: block;
      position: relative;
      text-decoration: none;
      color: #000;

      &:hover .liquidity-btn {
        background-color: #00ccff;
        background-image: linear-gradient(to top right, #33ff99, #00ccff);
      }

      .liquidity-btn {
        font-weight: bold;
        background-color: #00ccff;
        background-image: linear-gradient(to top right, #00ccff, #33ff99);
        border: none;
        border-radius: 0.375rem ;
        padding: 0.5rem 4.062rem 0.5rem 0.937rem;
        transition: all 2ms;
      }

      .btn-icon-provide {
        position: absolute;
        right: 0.625rem ;
        bottom: 0;
        width: 2.5rem ;
      }
    }
  }
  .nav-social-container {
    padding: 0.375rem 0 1rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .nav-social {
      display: flex;
      img{
        width: 0.9375rem;
      }
      .social-item {
        padding: 0rem 0.75rem ;
        &:first-of-type {
          padding-left: 0;
        }
        .hover-pic {
          display: none;
        }
        &:last-of-type {
          padding-right: 0;
        }
        &:hover {
          fill: #23dcc8;
          .icon-pic {
            display: none;
          }
          .hover-pic {
            display: inline;
          }
        }
      }
    }
    .nav-rune-container {
      cursor: pointer;

      .no-style {
        text-decoration: none;
      }
    }
    .nav-rune {
      display: flex;
      // padding: 0.125rem 0.0625rem 0.0825rem 0.0625rem ;
      width: 6rem ;
      border-radius: 0.125rem ;
      margin-top: 0.3125rem ;
      background-color: white;
      transition: 0.5s ease;

      &:hover {
        background-color: #23dcc8;
        transition: 0.1s ease;
        .nav-rune-number {
          color: #23dcc8;
          border-color: #23dcc8;
        }
      }

      .nav-rune-logo {
        padding: 0rem 0.3125rem ;
        display: flex;
        img{
          width: 0.425rem;
        }
      }

      .nav-rune-number {
        border: 0.125rem solid #fff;
        border-left: none;
        border-radius: 0 10% 10% 0;
        font-family: "Roboto Mono", Roboto, monospace;
        font-weight: 300;
        text-align: center;
        font-size: 0.6875rem ;
        line-height: 1.2;
        color: #fff;
        flex-grow: 3;
        background-color: #000;
        transition: color 0.5s ease;
      }
      .nav-rune-number-new-block {
        color: #20cab8;
        border-color: #23dcc8;

        transition: color 0s ease;
      }
    }
    .nav-rune-new-block {
      background-color: #20cab8;
      transition: 0s ease;
    }
  }
  .logo {
    margin-right: 1.25rem ;
  }
}
</style>