$above-card-margin: 1.875rem ;
$between-card-margin: 1.25rem ;
$cards-border-radius: 3rem ;
$card-btn-trans-ms: 100;
.card-spacing{
    height: $above-card-margin;
}



.home-card {
    display: flex;
    flex-direction: column;
    border-radius: $cards-border-radius;
}

.news-card{
    height: 25.625rem ;
    width: 41.5rem ;
    background-image: url("~assets/images/home/sushi-bg.svg");
    color: #FFFFFF;
    .news-emojies{
        font-size: 6.875rem ;
        display: inline-block;
        margin: 0rem auto;
        margin-top: 1.6875rem ;
    }
    .news-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem ;
        line-height: 1.875rem ;
        margin-top: 0.75rem ;
        /* or 125% */

        text-align: center;
    }
    .news-btns{
        margin-top: 3.125rem ;
        text-align: center;
        
        .card-btn{
            a{
                border: 2px solid #BABDCC;
                color: white;
                background-color: #0E0F23;
                &:first-child{
                    margin-right: 1.375rem ;
                    &:hover{
                        color: #f3ba2f;
                        border: 2px solid #f3ba2f;
                    }
                }
                &:nth-child(2){
                    &:hover{
                        color: #e74c96;
                        border: 2px solid #e74c96;
                    }
                }
            }
                
            }
    }
}
.interfaces-card{
    background-image: url('~assets/images/home/interfaces-card.svg');
    background-size: 101%;
    .interfaces-card-text{
        width: 18rem;
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.875rem;
        margin-top: 12.7rem;
        margin-left: 1.4rem;
    }
    .card-btn {
        margin-top: 3.125rem;
        a{
            margin-bottom: 1.125rem;
            width: 16.875rem;
            display: block;
            background: #28F4AF;
            color: #000B12;
            padding: 1rem 0;
            margin-left: auto;
            margin-right: 1.925rem;
            position: relative;
            
            &:hover{
                background-color: #000B12;
                color: #28F4AF;
            }
            .tag{
                position: absolute;
                font-weight: bold;
                font-size: 0.625rem;
                right: 2.4rem;
                top: 0rem;
            }
        }
    }
}
.home-btn{
    display: inline-block;
    border-radius: 0.75rem ;
    padding: 1rem 1.875rem ;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4375rem ;
    line-height: 2rem ;
}
.version-card{
    height: 25.625rem ;
    width: 41.5rem ;
    background-image: url("~assets/images/home/version-bg.svg");
    background-size: 41.5rem;
    margin-right: 1.18rem;
    .version-number{
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 800;
    font-size: 9.5rem ;
    line-height: 2.8125rem ;
    text-align: center;
    letter-spacing: -1.77333px;

    color: transparent;

    -webkit-text-stroke-width: 0.125rem ;
    -webkit-text-stroke-color:  #6A8BE9;

    margin-top: 5rem ;
    }
    .version-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem ;
        line-height: 1.875rem ;
        text-align: center;
        color: #FFFFFF;
        margin-top: 4.875rem ;
    }
    .version-btns{
        margin-top: 3.125rem ;
        text-align: center;
        .card-btn{
            a {
                border: 2px solid #6A8BE9;
                color: white;
                &:hover{
                    border: 2px solid #fff;
                }
            }
        }
    }
}
.butsir-intro-card{
    display: flex;
    background-color: $butSirBackground;
    justify-content: center;
    align-items: center;
    border-radius: $cards-border-radius;
    margin-top: $above-card-margin;
    padding: 0;
    img{
        // border: 1px solid blue;
        width: 33rem;
    }
    .butsir-content{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
        .butsir-heading{
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 2.625rem ;
            line-height: 2.375rem ;
            /* identical to box height, or 90% */

            text-align: center;
            letter-spacing: -0.42px;

            color: #02121D;
            margin-bottom: 1.875rem ;
        }
        .butsir-text{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem ;
            line-height: 1.875rem ;
            /* or 125% */

            text-align: center;

            color: #02121D;
        }
    }
}
.rune-section{
    margin-top: $above-card-margin;
    .col:first-child{
        margin-right: $between-card-margin;
    }
    .circulating-supply-card{
        height: 25.625rem ;
        background-image: url('~assets/images/home/cirulating-supply-card.svg');
        background-size: auto 25.625rem;
        background-position-x: 1px;
        .supply-percent {
            font-family: "Exo 2";
            font-style: italic;
            text-align: center;
            letter-spacing: -1.77333px;
            color: #000B12;
            margin-top: 3.465rem;

            span {
                font-weight: 800;
                font-size: 3.875rem ;
                line-height: 3.0375rem;

                span{
                    font-size: 2.325rem;
                }
            }
            /* identical to box height, or 30% */
    
            
        }
        .supply-text{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem ;
            line-height: 1.875rem ;
            
            /* or 125% */
    
            text-align: center;
    
            color: #000B12;
            margin-top: 2.125rem ;

        }
        .card-btn{
            margin-top: 2.0625rem ;
            a{ 
                display: inline-block;
                background: #000B12;
                color: #23DCC8;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
    .all-tvl-card{
        height: 25.625rem ;
        margin-top: $above-card-margin;
        background-image: url('~assets/images/home/all-tvl-card.svg');
        background-size: cover;
        .all-tvl-title{
            margin-top: 4.875rem ;
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 800;
            font-size: 5.1875rem ;
            line-height: 2.8125rem ;
            /* identical to box height, or 54% */

            text-align: center;
            letter-spacing: -0.968333px;

            color: #FFFFFF;
            span:nth-child(2){
            font-size: 9.5rem ;
            }
        }
        .card-text{
            margin-top: 2.9375rem ;
            color: white;
        }
        .card-btn{
            margin-top: 3.1875rem ;
            a{
                background-color: #000B12;
                color: #fff;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
    .rune-me-card{
        height: 53.1375rem;
        background-image: url('~assets/images/home/rune-me-card.svg');
        background-size: cover;
        background-position-x: -0.09rem;
        border: 2px solid $borderColor;
        position: relative;
        .rune-me-title{
            margin-top: 5.125rem ;
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 800;
            font-size: 9.5rem ;
            line-height: 2.8125rem ;
            /* identical to box height, or 30% */
            text-align: center;
            height: 5.625rem ;

            letter-spacing: 0.1125rem;

            color: #23DCC8;
        }
        .card-text{
            margin-top: 2.0625rem ;
            color: white;
        }
        .card-btn {
            margin-top: 1.9375rem ;
            a{
                display: inline-block;
                color: #000B12;
                background-color: #23DCC8;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
        .markets-table{
            position: absolute;
            bottom: 0;
            width: 100%;
            // margin-top: 3.125rem ;
            border-bottom-right-radius: 3rem;
            border-bottom-left-radius: 3rem;
            overflow: hidden;
            // padding: 0rem 0.125rem 0rem 0.0625rem ;
        }
    }
}
.card-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4375rem ;
    line-height: 2rem ;
    /* identical to box height, or 139% */

    text-align: center;
    span{
        border-radius: 0.75rem ;
        padding: 1rem 2rem ;
    }
    a{
        text-decoration: none;
        border-radius: 0.75rem ;
        padding: 1rem 2rem ;
    }
}


.tweets-section{
    margin-top: $above-card-margin;
    .tw-container{
        z-index: 2;
    }
    .col:first-child{
        margin-right: $between-card-margin;
    }
    .home-card{
        border: 2px solid #15252E;
        padding-top: 3.5rem ;
    }
    .apy{
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 3.875rem ;
        line-height:2.7375rem;
        /* identical to box height, or 90% */
        text-align: center;
        letter-spacing: 0.10625rem;
        margin-top: 1.425rem;
        color: #FFFFFF;
        span{
            font-size: 2.0625rem ;
        }

    }
    .card-btn{
        margin-top: 2.875rem;
        margin-bottom: 4rem ;
        a{
            background: #1DA1F2;
            color: white;
            &:hover{
                background-color: #1991da;
            }
        }
    }
}
.node-stat{
    height: 25.625rem ;
    background-image: url('~assets/images/home/node-stat-bg.svg');
    background-size: 84.21rem;
    background-repeat: no-repeat;
    margin-top: $above-card-margin;
    .head{
        font-family: "Exo 2";
        font-style: italic;
        font-weight: 800;
        font-size: 3.875rem ;
        line-height:2.7375rem;
        text-align: center;
        letter-spacing: -1.77333px;
        margin-top: 3.6rem;
        height: 5.4375rem ;
        span{
            font-size: 2.0625rem ;
        }
    }
    .card-text{
        margin-top: 3.3875rem;
    }
    .card-btn{
        margin-top: 2.775rem;
        margin-bottom: 3.75rem ;
    }
    .active{
        color: #000B12;
        .card-btn{
            a {
                color: #32CD32;
                background-color: #000B12;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
    .standby{
        color: white;
        .head{
            color: #32CD32;
        }
        .card-btn{
            a{
                color: #000B12;
                background-color: #32CD32;
                &:hover{
                    color: #000b12;
                    background-color: #fff;
                }
            }
        }
    }
}
.solvency-card{
    background-color: #fff;
    color: black;
    border-radius: $cards-border-radius;
    margin-top: $above-card-margin;
    padding: 2.875rem 2.8125rem ;
    .line{
        border: none;
        height: 0.1875rem ;
        background-color: #000; /* Modern Browsers */
    }
    .title{
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 800;
        font-size: 3.75rem ;
        line-height: 4rem ;
        text-align: right;
        letter-spacing: -0.7px;
    }
    .card-text{
        margin-top: 2.0625rem ;
        margin-bottom: 1.375rem ;
        text-align: right;
    }
    .footer{
        margin-top: 1.625rem ;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem ;
        line-height: 1.875rem ;

        text-align: right;
    }

    .col:first-child{
        margin-right: 3.125rem ;
        max-width: 35.625rem ;
    }
    .metrics{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 2.25rem ;
        line-height: 2.375rem ;
        /* identical to box height, or 106% */

        letter-spacing: -0.36px;
        .metric{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.725rem 0rem 0.5875rem 0;
            &:first-child{
                padding-top: 0.5rem ;
            } 
            span{
                font-family: "Roboto Mono";
                font-style: normal;
                font-weight: 500;
                font-size:1.5rem;
                line-height: 1.9rem ;
                text-align: right;
                letter-spacing: -0.135px;
            }
        }
    }
    .card-btn{
        justify-content: space-between;
        display: flex;
        margin-top: 1rem ;
        margin-bottom: 0.3125rem ;
        a{
            color: white;
            background-color: #000;
            &:hover{
                color: #000b12;
                background-color: #f3ba2f;
            }
        }
    }
}
.indicators-card{
    margin-top: $above-card-margin;
    border-radius: $cards-border-radius;
    background-image: url('~assets/images/home/indicators-card-bg.svg');
    background-size: 84.75rem;
    padding-top: 2.5rem ;
    .title{
        font-family: "Exo 2";
        font-style: normal;
        font-weight: 800;
        font-size: 3.75rem ;
        line-height: 4rem ;
        letter-spacing: -0.7px;
        background: linear-gradient(90deg, #FFFB00 0%, #F625F0 58.29%, #00F6EE 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .col{
        padding: 0;
    }
    .col:first-child{
        margin-right: 3.125rem ;
    }
    .card-text{
        color: white;
        text-align: left;
        margin-top: 2.1875rem ;
    }
    .card-btn{
        margin-top: 1.875rem ;
        margin-bottom: 3.125rem ;
        display: flex;
        align-items: flex-start;
        .border-wrap {
            padding: 0.125rem ;
            background: linear-gradient(90deg, #FFFB00 0%, #F625F0 58.29%, #00F6EE 100%);
            display: inline-block;
        }
        a{
            background-color: #15242E;
            color: #fff;
            display: inline-block;
            &:hover{
                color: #000b12;
                background: linear-gradient(90deg, #00F6EE 0%, #F625F0 58.29%, #FFFB00 100%);
            }
        }
        .footer{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.5rem ;
            line-height: 2rem ;
            color: white;
            margin-left: 1.5625rem ;
            padding: 1rem 0;
        }
    }
    .metric{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3.5rem ;
        margin-left: 5.625rem ;
        margin-bottom: 1.4rem;
        color: #fff;
        text-transform: uppercase;
        display: flex;
        span{
            margin-left: 0.75rem ;
        }
        .metric-key, .metric-value{}
        .metric-key{
            font-size: 3.5rem;
            line-height: 3.375rem ;
            min-width: 6.7rem;
        }
        .metric-value{
            font-size: 1.25rem;
            line-height: 1.62rem;
            text-align: right;
            min-width: 8.9rem;       }
        &:first-child{
            margin-top: 1.25rem ;
            .metric-value{
                color: #FFFB00;
            }
        }
        &:nth-child(2) .metric-value{
            color: #F625F0;
        }

        &:nth-child(3) .metric-value{
            color: #00F6EE;
        }
    }
}
.tools-table{
    background-image: url('~assets/images/home/tools-table-pic.jpg');
    background-size: 84.375rem;
    background-repeat: no-repeat;
    padding: 0rem ;
    background-color: #000b12;
    border-radius: 3.125rem ;
    overflow: hidden;
    // border: 2px solid #15242e;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem ;
    line-height: 2.375rem ;
    letter-spacing: -0.16px;
    color: #D1D5DA;
    margin-top: $above-card-margin;
    margin-bottom: 4.375rem ;
    .tools-table-header{
        .title{
            
            font-family: "Exo 2";
            font-style: normal;
            font-weight: 900;
            font-size: 3.75rem ;
            line-height: 4rem ;
            letter-spacing: -2.2px;
            color: #b8f8fe;
            margin-top: 3.125rem ;
            margin-left: 6.125rem ;
            text-transform: uppercase;
            
            // -webkit-text-stroke-width: 0.125rem ;
            // -webkit-text-stroke-color:  #9FF6FF;
            span{
                color: black;
            }
        }
        .card-text{
            margin-top: 2.5rem ;
            color: #fff;
        }
        .card-btn{
            margin-top: 2.75rem ;
            margin-bottom: 5rem ;
            a{
                background-color: #b8f8fe;
                color: #000;
                &:hover{
                    color: #b8f8fe;
                    background-color: #000b12;
                }
                &:first-child{
                    margin-right: 1.4375rem ;
                }
            }
        }
    }
    .table-wrapper{
        background: linear-gradient(90deg, #2b4f9f 0%, #00F6EE 100%);
        padding: 0.125rem ;
        border-bottom-right-radius: $cards-border-radius;
        border-bottom-left-radius: $cards-border-radius;
    }
    table {
        background-color: #000B12;
        // border-collapse: collapse;
        // border-style: hidden;
        // border: 3px solid #2b4f9f;
        border-bottom-right-radius: $cards-border-radius;
        border-bottom-left-radius: $cards-border-radius;
        margin: 0;
        font-family: Roboto;
        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
          border-style: none;
        }
        td{
            color: #D1D5DA;
        }
        tr {
            border-bottom: 0.0625rem solid #15242e;
            th:first-child,td:first-child{
                padding-left: 1.875rem ;
            }
            th:last-child{
                text-align: right;
                padding-right: 1.875rem ;
            }
            td:last-child{
                padding-right: 1.875rem ;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                height:100%;
                a{
                    margin: 0.625rem 0.125rem 0rem 0.125rem ;
                    display: flex;
                    height: 1.25rem ;
                    width: 1.25rem ;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 0.9375rem;
                    &.telegram-icon{
                        background-image: url('~assets/images/home/telegram-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-telegram-icon.svg');
                        }
                    }
                    &.github-icon{
                        background-image: url('~assets/images/home/github-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-github-icon.svg');
                        }
                    }
                    &.gitlab-icon{
                        background-image: url('~assets/images/home/gitlab-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-gitlab-icon.svg');
                        }
                    }
                    &.twitter-icon{
                        background-image: url('~assets/images/home/twitter-icon.svg');

                        &:hover {
                            background-image: url('~assets/images/icons/social-twitter-icon.svg');
                        }
                    }
                }
            }
            &:last-child{
                border-bottom: none;
            }
        }
        a{
            color: #57F9FF;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }

}
.card-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    /* or 125% */
  
    text-align: center;
}