.chart-holder {
  margin: 0rem auto;
  // box-shadow: inset 40px -28px 50px -25px $semiBlack, inset -40px -28px 50px -25px $semiBlack;
  position: relative;
}
.chart-holder-cover {
  pointer-events: none;
  background: $semiBlack;
  background: linear-gradient(
    90deg,
    rgba(2, 18, 29, 1) 2%,
    rgba(2, 18, 29, 0) 20%,
    rgba(2, 18, 29, 0) 80%,
    rgba(2, 18, 29, 1) 98%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.anchor-point {
  display: block;
  margin-top: -9.375rem ;
  height: 9.375rem ;
  visibility: hidden;
  pointer-events: none;
}

.main-wrapper {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  margin-left: -4.1875rem ;
}

.strips-container {
  margin-top: 18.0625rem ;
  margin-bottom: 4.375rem ;
  position: relative;
  left: -6.0625rem ;
  width: 2.6875rem ;

  // .community-pros {
  //   position: sticky;
  //   top: 12.5rem ;
  //   z-index: 2;
  //   display: flex;
  //   flex-direction: column;

  //   .avatar-pro {
  //     position: relative;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     margin: 0.625rem 0;
  //     width: 2.6875rem ;
  //     height: 2.6875rem ;
  //     border-radius: 50%;
  //     background: -webkit-linear-gradient(45deg, $blueBackground, $blueGreen);
  //     box-shadow: #00CCFF 0px 0px 15px -3px, #33ff99 0px 0px 6px -2px;

  //     img {
  //       cursor: pointer;
  //       width: 2.6875rem ;
  //       height: 2.6875rem ;
  //       padding: 0.1875rem ;
  //       border-radius: 50%;
  //     }

  //     &.active {
  //       background: #F3BA2F;
  //       box-shadow: none;

  //       .content {
  //         display: flex;
  //       }
  //     }

  //     .content {
  //       display: none;
  //       position: absolute;
  //       width: 19.1875rem ;
  //       height: 3.75rem ;
  //       left: 5rem ;
  //       justify-content: space-between;
  //       align-items: center;
  //       background: #000B12;
  //       padding: 0rem 1.9375rem 0rem 0.3125rem ;
  //       border-radius: 12px;
  //       border: 0.125rem solid #F3BA2F;
  //       border-left: none;
  //       border-top-left-radius: 0;
  //       border-bottom-left-radius: 0;


  //       span {
  //         color: #F3BA2F;
  //       }

  //       .icons {
  //         display: flex;
  //         align-items: center;

  //         a {
  //           display: inline-block;
  //           width: 1.125rem ;
  //           height: 1.125rem ;
  //           margin: 0rem 0.125rem ;
  //           background-repeat: no-repeat;
  //           margin-top: 0.375rem ;
            
  //           &.telegram-icon{
  //             background-image: url('~assets/images/icons/social-telegram-icon.svg');

  //             &:hover {
  //                 background-image: url('~assets/images/icons/social-telegram-icon-hover-yellow.svg');
  //             }
  //           }
  //           &.github-icon{
  //               background-image: url('~assets/images/icons/social-github-icon.svg');

  //               &:hover {
  //                   background-image: url('~assets/images/icons/social-github-icon-hover-yellow.svg');
  //               }
  //           }
  //           &.gitlab-icon{
  //               background-image: url('~assets/images/icons/social-gitlab-icon.svg');

  //               &:hover {
  //                   background-image: url('~assets/images/icons/social-gitlab-icon-hover-yellow.svg');
  //               }
  //           }
  //           &.twitter-icon{
  //               background-image: url('~assets/images/icons/social-twitter-icon.svg');

  //               &:hover {
  //                   background-image: url('~assets/images/icons/social-twitter-icon-hover-yellow.svg');
  //               }
  //           }
  //         }
  //       }

  //       &::before {
  //         display: block;
  //         content: "";
  //         position: absolute;
  //         background-image: url(~assets/images/technical-page/tag-shape.svg);
  //         left: -1.6875rem ;
  //         background-repeat: no-repeat;
  //         width: 1.75rem ;
  //         height: 3.75rem ;
  //       }
  //     }
      
  //   }
  // }
}

.outer-container {
  margin: 0rem auto;
  width: 69.375rem ;
}

.outer-container {
  position: relative;

  .red-text {
    color: $redBackground;
  }
  .section-col {
    min-width: 30.625rem ;
    max-width: 30.625rem ;
  }
  h4.section-paragraph {
    margin: 0.9375rem 0rem 0.9375rem 0;
    color: $white;
  }
  
  .tssnology {
    text-align: center;
    h3 {
      font-family: "Exo 2";
      font-style: normal;
      font-weight: 700;
      font-size: 2.5rem ;
      line-height: 3rem ;
    }
  }
  $nav-tab-pad: 20px;
  .navigation-tab {
    display: flex;
    margin-top: -0.4375rem ;

    .btn-gp {
      margin: 1.875rem auto 0 auto;

      button {
        position: relative;
        font-size: 0.85em;
        font-weight: bold;
        margin: 0rem -0.5rem;
        padding: 0.956rem 1.375rem 0.831rem 1.375rem;
        border-radius: 0.625rem;
        border: 0.0625rem solid #15242e;
        background-color: transparent;
        color: $white;

        &:disabled {
          color: $semiGray;
          border-radius: 0.625rem 0 0 0.625rem;
          padding-right: 1.5625rem ;
        }

        .soon {
          font-weight: 300;
          font-size: 0.6em;
          top: 0.375rem ;
          position: absolute;
          color: $butSirBackground;
        }

        &.active {
          background-color: $blueBackground;
          background-image: linear-gradient(
            to top right,
            $blueBackground,
            #33ff99
          );
          color: #000;
        }
      }
    }
  }
  .code-snippets-section{
    justify-content: space-between;
  }
  .code-snippet {
    background-color: #000b12;
    border: 0.125rem solid #15242e;
    padding: 1.875rem ;
    border-radius: 1.5rem;
    min-height: 18.75rem ;
    .csnpt-title {
      color: $white;
      font-family: "Roboto Mono";
    }
    .csnpt-code {
      padding-left: 1.25rem ;
    }
    pre {
      padding: 0;
      margin: 0;
      font-size: 0.875rem;
    }
  }
  .eli5link {
    font-family: Roboto;
    font-size: 1.125rem ;
    font-weight: 700;
    text-decoration: none;
    color: #23dcc8;
  }

  .vault {
    text-align: right;
  }
}
.rewiring-table-new {
  position: relative;
  margin: auto;
  width: 69.4375rem ;
  margin-bottom: 5rem ;
  margin-top: 2rem ;
  .frame{
    img{
      width:71rem;
    }
  }
  .rewiring-legacy {
    position: relative;
    filter: brightness(150%);
    top: -1.5625rem ;
    left: 3.4375rem ;
    .rewiring-header {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1.25rem ;
      img{
        width: 12rem;
      }
    }
  }
  .reports-and-audits {
    .reports-header-outer {
      text-align: center;
      .reports-header {
        display: inline-block;
        .reports-header-before {
          text-align: left;
          font-family: Roboto;
          font-style: italic;
          font-weight: normal;
          font-size: 1.25rem ;
          line-height: 1.875rem ;
        }
        .reports-header-title-outer {
          border: 0.125rem solid white;
          border-radius: 1.5rem;
          padding: 1.875rem ;
          .reports-header-title {
            text-transform: uppercase;
            font-family: "Exo 2";
            font-style: italic;
            font-weight: 300;
            font-size: 2.5rem ;
            line-height: 3rem ;
          }
          .reports-header-after {
            margin-top: 1.25rem ;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 1.25rem ;
            line-height: 1.875rem ;
          }
        }
      }
    }
  }
  .smokes-and-mirrors {
    .smokes-header-outer {
      text-align: center;
      .smokes-header-title {
        font-family: "Exo 2";
        text-transform: uppercase;
        font-size: 3em;
        font-weight: bold;
        color: $white;
        margin-bottom: -8.4375rem ;
        margin-top: 9.0625rem ;
      }
      .smokes-header-after {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem ;
        line-height: 1.875rem ;
      }
    }
  }
  .all-transactions-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem ;
    line-height: 2rem ;
    text-align: center;
    a {
      color: #23dcc8;
      text-decoration: none;
    }
  }

  .frame {
    position: absolute;
    top: -2.8125rem ;
    left: -0.875rem ;
  }

  .rewiring-table-content {
    font-family: Roboto;
    width: 69.4375rem ;
    margin: 3.125rem auto -15px auto;
    color: #23dcc8;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem ;
    line-height: 1.1;

    .rewiring-table-row {
      position: relative;
      padding-bottom: 1.375rem ;
      left: -0.875rem ;
    }

    .compare-states {
      width: 31.25rem ;
      text-align: right;

      .rewiring-table-row {
        position: relative;
        margin-right: 3.125rem ;
        &::after {
          content: url(~assets/images/technical-page/tron-grids-line.png);
          display: block;
          position: absolute;
          width: 70rem;
          overflow: hidden;
          background-repeat: no-repeat;
          bottom: -0.625rem ;
          left: 0.3125rem ;
        }

        &:last-child::after {
          content: "";
          display: none;
        }
      }
    }

    .box-thorchain {
      position: relative;
      text-align: center;
      margin-left: 4.375rem ;

      &::before {
        position: absolute;
        display: block;
        content: "";
        background-image: url(~assets/images/technical-page/rewiring-outline.svg);
        background-size: 19.9rem;
        height: 31.25rem ;
        width: 25rem ;
        top: -7.5rem ;
        right: -7.375rem ;
        background-repeat: no-repeat;
      }

      &::after {
        position: absolute;
        display: block;
        background-image: url(~assets/images/technical-page/thorchain-brand.svg);
        content: "";
        height: 3.125rem ;
        width: 12.5rem ;
        top: -5.1875rem ;
        right: 1.625rem ;
        background-repeat: no-repeat;
      }
    }

    .box-centralized {
      position: relative;
      text-align: center;
      margin-left: 4.875rem ;
      color: $semiGray;

      &::before {
        position: absolute;
        display: block;
        content: "";
        background-image: url(~assets/images/technical-page/centralized-exchange.svg);
        height: 5rem ;
        width: 14.0625rem ;
        top: -4.375rem ;
        left: -1.4375rem ;
        background-repeat: no-repeat;
      }
    }

    .box-btn {
      font-family: Roboto;
      position: absolute;
      text-transform: uppercase;
      padding: 0.9375rem 1.125rem ;
      border-radius: 1rem;
      font-weight: 600;
      font-size: 1.125rem ;
      width: 15.125rem ;
      bottom: -3.625rem ;
      left: -1.25rem ;
      box-sizing: border-box;

      &.not-comparable {
        color: $white;
        background-color: $redBackground;
      }

      &.but-compatible {
        color: #05212a;
        background-color: #23dcc8;
        left: -2.0625rem ;
        box-shadow: 0 0 10px rgba(35, 220, 200, 0.5);
      }
    }
  }
}
.annu-box {
  position: relative;
  overflow: hidden;
  margin: 0rem auto;
  border-radius: 1.5rem;
  padding: 2.1875rem 1.875rem 1.875rem 1.875rem ;
  // clip-path: inset(0 0 0 0 round 25px) !important;
  // mask-image: radial-gradient(circle, white 100%, black 100%);
  // -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

  .annu-btn {
    border: none;
    display: inline-block;
    background-color: $semiBlack;
    border-radius: 1rem;
    color: $white;
    padding: 1.125rem 1.875rem ;
    font-weight: 500;
    font-size: 1.3125rem ;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $semiBlack;
    }
  }
}
.supply-emitted {
  background-color: $borderColor;
  color: #FFF;
  // background: linear-gradient(90deg, #FFFB00 0%, #F625F0 44.02%, #00F6EE 100%);
  // background-clip: text;

  padding-top: 2.8125rem ;
  background-image: url(~assets/images/technical-page/chart-waves.svg);
  background-size: 37rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 21.75rem ;

  h2 {
    width: 42rem ;
    background: -webkit-linear-gradient(left, #FFFB00 0%, #F625F0 44.02%, #00F6EE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Exo 2";
    font-size: 3.625rem ;
    font-weight: 830;
    margin-bottom: 0;
  }

  h3 {
    font-family: "Exo 2";
    font-size: 3.125rem ;
    font-weight: 800;

    span {
      color: $white;
      text-shadow: 0 0 25px $white;
    }
  }

  .supply-emitted-text {
    margin-top: 1.9375rem ;
    color: #FFF;
    width: 42rem ;

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.375rem ;
      line-height: 2.125rem ;
      /* or 155% */
    }
  }

  .annu-lower {
    display: flex;
    align-items: center;
    margin-top: 0.875rem ;

    .border-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-radius: 0.75rem;
      padding: 0.125rem ;
      background: linear-gradient(90deg, #FFFB00 0%, #F625F0 58.29%, #00F6EE 100%);
    }

    .gradient-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $borderColor;
      border-radius: 0.75rem;
      font-size: 1.4375rem ;
      padding: 0.9375rem 1.875rem ;
      text-decoration: none;
      font-weight: 700;
      color: #fff;

      &:hover {
        background: linear-gradient(270deg, #FFFB00 0%, #F02AF0 47.47%, #01F5EE 100%);
        color: #000000;
      }
    }

    span.fic-graph {
      margin-left: 1.9375rem ;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem ;
      line-height: 2rem ;
      color: white;
      margin-left: 1.5625rem ;
      padding: 1rem 0;
    }
  }
  
}
.reports-papers-link img {
  margin-bottom: 0;
}

.report-paper {
  width: 100%;
  height: 21.875rem ;
  color: #000;
  background-color: #fff;
  padding: 3.75rem 0rem 3.125rem 3.75rem ;
  border-radius: 1.5rem;
  background-image: url('~assets/images/technical-page/whitepaper.svg');
  background-position: 49.375rem bottom;
  background-size: 16.5rem;
  background-repeat: no-repeat;

  .header {
    font-family: 'Exo 2';
    font-size: 2.875rem ;
    font-weight: 800;
    text-transform: uppercase;
  }

  .text {
    font-size: 1.5rem ;
    line-height: 1.875rem ;
    margin: 1.25rem 0rem 2.0625rem 0;
    font-family: 'Roboto';
  }

  .links {
    margin-top: 2.0625rem ;

    a {
      display: inline-block;
      font-size: 1.4375rem ;
      line-height: 2rem ;
      text-align: center;
      font-weight: 500;
      padding: 1rem 1.875rem ;
      background-color: #000B12;
      color: #fff;
      border-radius: 0.75rem;
      cursor: pointer;
      text-decoration: none;

      &:not(:first-of-type) {
        margin: 0rem 0.625rem ;
      }

      &:first-of-type {
        margin-right: 0.625rem ;
      }

      &:hover {
        color: #000;
        background-color: #FFFF06;
      }
    }
  }
}

