<template>
  <div :class="{'report-paper': true, 'paperTwo': number == 1, 'paperThree': number == 2}">
    <div class="paper-div">
      <p>&emsp;<slot></slot></p>
    </div>
    <a :href="hrefLink">{{btnText}}</a>
  </div>
</template>

<script>
export default {
  props:  ["btnText", "hrefLink", "number"]
};
</script>

<style lang="scss">
.reports-papers {
  .report-paper {
    cursor: default;
    position: relative;
    text-decoration: none;
    display: inline-block;
    z-index: 1;
    transition: all 0.2s;
  
    .paper-div {
      font-family: 'Roboto';
      font-size: 1.25rem ;
      color: #DBDCDC;
      border-radius: 18px;
      padding: 1.25rem 1.5625rem ;
      width: 100%;
      background-color: #fff;
      line-height: 1.7;
      box-shadow: 0px 0px 8px rgba(92, 91, 91, 0.2);
    }

    p {
      margin: 0;
    }

    &::after {
      position: absolute;
      bottom: -0.125rem ; 
      right: -0.625rem ;
      transform: rotate(-0.9deg);
      border-radius: 18px;
      z-index: -1;
      width: 100%; height: 100%;
      content:'';
      background-color: #DDE0E1;
    }

    &:hover::after {
      transform: rotate(0.9deg) !important;
    }

    &.paperTwo:hover::after {
      transform: rotate(1.1deg) !important;
    }

    &.paperThree:hover::after {
      transform: rotate(-1deg) !important;
    }

    a {
      display: block;
      text-decoration: none;
      color: #000;
      font-size: 1.4375rem ;
      font-weight: bold;
      position: absolute;
      display: block;
      background-color: #fff;
      padding: 0.625rem 1.25rem ;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid #000;
      border-radius: 8px;
      transition: all 0.2s;

      &:hover {
        color: #fff;
        background-color: #000;
      }
    }

    &.paperTwo::after {
      right: 0.625rem ;
      bottom: 0.125rem ;
      transform: rotate(-1.1deg);
    }

    &.paperThree::after {
      bottom: 0.125rem ;
      transform: rotate(1deg);
    }
  }

}
</style>